.skillWrapper {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: 10px 0;
}
.skillImg img{
    width: 100px;
}
.skillName {

}