@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.skillWrapper {
  max-width: 340px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 116px;
  align-items: flex-start;
  //border: 1px solid black;
  margin: 0 20px 40px;
  @media screen and (max-width: 1023px) {
    max-width: 442px;
    justify-content: flex-start;
  }
  @media screen and (max-width: 750px) {
    max-width: 660px;
  }

  .skill {
    height: 100%;
    max-width: 280px;
    margin-left: 24px;
  }

  img {
    width: 46px;
  }

  h4 {
    @include commonHeaderStyles(24px);
    margin: 0 0 10px;
  }

  .skillDescription {
    @include commonParagraphStyles();
  }
}

