@import "./src/common/styles/sass/mixins";

.skillsWrapper {
  background-color: #f7f8f9;
  min-height: 639px;
  padding-top: 106px;
  padding-bottom: 76px;

  a {
    text-decoration: none;
  }

  h6 {
    @include commonH6Styles();
    text-align: center;
  }

  .headersWrapper {
    margin-bottom: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skillBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 750px) {
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: 906px) {
      justify-content: center;
    }
  }
}
