.projectWrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    border: 1px solid;
    align-items: center;
    min-height: 380px;
    padding: 20px;
    text-align: center;
}

.projectLogo img {
    max-width: 200px;
}

.projectDescription {

}
