@import "./src/common/styles/sass/mixins";

.projectWrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  min-height: 380px;
  padding: 20px;
  text-align: center;


  h4 {
    @include commonHeaderStyles(24px);
    margin: 20px 0 10px;
  }

  @media screen and (max-width: 1023px) {
    &:first-child {
      grid-area: social;
    }

    &:nth-child(2) {
      grid-area: todo;
    }

    &:nth-child(3) {
      grid-area: quiz;
    }
  }
  @media screen and (max-width: 750px) {
    max-width: 100%;
  }

  .projectLogo {
    position: relative;

    img {
      max-width: 300px;

      &:hover {
        max-width: 330px;
        transition: 0.8s;
        opacity: 0.9;
      }
    }
  }

  .projectDescription {
    @include commonParagraphStyles();
  }
}



