.header {
    height: 100%;
    min-height: 5.6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}

@media screen and (max-width: 669px) {
    .header {
        justify-content: center;
        /*width: 100%;*/
    }
}