.footer {
  background-color: #1f1f1f;
  height: 20rem;


  .footerContent {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;

    h2 {
      color: #FFF;
    }

    .footerContacts {
      color: #FFF;
      width: 300px;
      border: 1px solid white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      @media screen and (max-width: 382px) {
        width: 100%;
      }
    }

    .copyright {
      color: #A3A4A4;
    }
  }
}


