body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.contentWrapper {
    width: 60%;
    margin: 0 auto;
    border: 1px solid green;
    height: 100%;

}

@media screen and (max-width: 750px) {
    .contentWrapper {
       width: 80%;
    }
}