body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.contentWrapper {
    width: 60%;
    margin: 0 auto 0.6rem;
    border: 1px solid;

}

@media screen and (max-width: 638px) {
    .contentWrapper {
        /*margin: 0;*/

    }
}