.nav {
    display: flex;
    width: 25rem;
    flex-direction: row;
    justify-content: space-between;
}

.navLinks {
    font-size: 0.8em;
    line-height: 1.33;
    color: #1f1f1f;
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
}

.activeLinkStyle {
    border-bottom: 1px solid #1f1f1f;
}

.navLinks:hover {
    border-bottom: 1px solid #1f1f1f;
    opacity: 0.7;
}

@media screen and (max-width: 669px) {
   .nav {
       max-width: 25rem;
       width: 100%;
   }
}